In [1]:
import pandas as pd
from zipfile import ZipFile

In [2]:
ZIP_PATH = '../data/dataset.zip'

with ZipFile(ZIP_PATH, 'r') as z:
    with z.open(z.namelist()[0]) as f:
        df = pd.read_csv(f, parse_dates = ['date'])

In [6]:
df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,2020-12-27,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,2020-12-28,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,2020-12-29,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,2020-12-30,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,2020-12-31,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  datetime64[ns]
 1   cloud_cover       15322 non-null  float64
 2   sunshine          15341 non-null  float64
 3   global_radiation  15322 non-null  float64
 4   max_temp          15335 non-null  float64
 5   mean_temp         15305 non-null  float64
 6   min_temp          15339 non-null  float64
 7   precipitation     15335 non-null  float64
 8   pressure          15337 non-null  float64
 9   snow_depth        13900 non-null  float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 1.2 MB

In [3]:
df.min()

date                1979-01-01 00:00:00
cloud_cover                         0.0
sunshine                            0.0
global_radiation                    8.0
max_temp                           -6.2
mean_temp                          -7.6
min_temp                          -11.8
precipitation                       0.0
pressure                        95960.0
snow_depth                          0.0
dtype: object

In [4]:
df.max()

date                2020-12-31 00:00:00
cloud_cover                         9.0
sunshine                           16.0
global_radiation                  402.0
max_temp                           37.9
mean_temp                          29.0
min_temp                           22.3
precipitation                      61.8
pressure                       104820.0
snow_depth                         22.0
dtype: object

In [5]:
df.mean_temp.mean()

np.float64(11.475511270826528)